{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ form_start (userForm) }}

        {{ form_widget(userForm) }}

        <button>créer</button>

        {{ form_end(userForm) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

