{% extends 'base.html.twig' %}
{%  block body %}
    <h1>BIENVENUE </h1>

    <p> <strong>Sortir.com</strong> C est l application  de Sorties et de festivité à destination des étudiants de l'ENI.</p>

     <P>cette application est accessible  aux étudiants des  trois campus de  l'eni qui sont  situés
         à Rennes , Niort , et Nantes</P> <br>

    <h1>Si vous etes  étudiants à l'ENI , n'hésitez  pas  à vous inscrire !!!</h1> <br>







     <br>

    <h2>Participez  à  nos  Sorties  Pour échanger avec les  autres étudiants</h2>

    <div class="conteneur">
        <div class="petales-box">
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>


            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
            <div class="petale"></div>
        </div>

        <div class="noeud"></div>
    </div>

{% endblock %}

{% block title %} {{ parent() }} | Acceuil {% endblock %}