{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <h1>Les sorties enregistrées par les administrateurs</h1>

    <div>
        {{ form_start (sortieForm) }}

        {{ form_widget(sortieForm) }}

        <button>créer</button>

        {{ form_end(sortieForm) }}
    </div>

{% endblock %}