{% extends 'base.html.twig' %}

{% block title %}
 Les sorties
{% endblock %}

{% block body %}
 <section class="sortie-list">
  {% for sortie in sortie %}
  <article>
  <a href="{{ path('details', {'id': sortie.id}) }}" title="Sortie">
   <img src="{{ asset('img/logo eni.png') }}" alt="{{ sortie.name }}">
  </a>
  </article>
 </section>
{% endfor %}
{% endblock %}

