{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <h1>Les utilisateurs enregistrées par les administrateurs</h1>

    <div>
        {{ form_start (UserForm) }}

        {{ form_widget(UserForm) }}

        <button>créer</button>

        {{ form_end(UserForm) }}
    </div>

{% endblock %}