<nav>
    <ul>
        <li>
          <a href="{{ path('main_sorties') }} " title="Sortie">Sortie</a>
        </li>
        <li>
            <a href="{{ path('main_user') }} " title="Utilisateurs">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('create') }} " title="création">création</a>
        </li>

    </ul>


</nav>