<nav>
    <ul>
        <li>
          <a href="{{ path('main_sorties') }} " title="Sortie">Sortie</a>
        </li>
        <li>
            <a href="{{ path('main_User') }} " title="Utilisateurs">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('main_home') }} " title="creation">creation </a>
        </li>

    </ul>


</nav>